.note {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    line-height: 10px;
}

#note-category {
    color: #FFC700;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

#note-title {
    color: black;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
}

#del-button {
    border-radius: 5px;
    background-color: rgb(255, 203, 194);
    border: none;
    width: 60px;
    height: 30px;
}

#del-button:hover {
    background-color: rgb(207, 108, 90);
    transition: 0.2s ease;
}