.view-notes {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.notes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(autofit);
    gap: 40px;
}